# This file is the first trained model 
## with a different type of machine learning models

## 1) load data (just part of the data set (one file) )

In [1]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# load data 
aceleracao = pd.read_csv("../acelerometroTerra16.csv")
giroscopio = pd.read_csv("../giroscopioTerra16.csv")

In [2]:
# print first 5 records in aceleracao
aceleracao.head(5)

   Unnamed: 0        ax        ay        az      Time  Lebal
0           0 -0.161602  0.120174  9.596758  0.000000      0
1           1 -0.122628  0.315638  9.425655  0.009858      0
2           2 -0.178777  0.330180  9.445955  0.019625      0
3           3  0.016043  0.038759  9.528445  0.039280      0
4           4  0.141716 -0.162492  9.756854  0.058935      0

In [3]:
# print first 5 records in giroscopio
giroscopio.head(5)

   Unnamed: 0        gx        gy        gz      Time  Lebal
0           0 -0.070372  0.000844  0.029619  0.000000      0
1           1 -0.058695  0.009130  0.024406  0.010194      0
2           2  0.006625 -0.002283 -0.015018  0.031894      0
3           3  0.064933  0.033172 -0.040503  0.049443      0
4           4  0.039454 -0.013078 -0.007681  0.069525      0

In [4]:
# get list of lebals (actual output)
al = aceleracao['Lebal']
gl = giroscopio['Lebal']

## 2) handel dataset before train

In [5]:
# print size of (al , gl)  list
print (al.size)
print (gl.size)

64645
64645

In [6]:
# check if there is any difference in two lists (accelerometer output list, gyroscope output list)
for i in range (0 , al.size):
    if al[i] != gl[i]:
        aceleracao['Lebal'][i] = al[i-1]
        giroscopio['Lebal'][i] = gl[i-1]
        al[i] = al[i-1]
        gl[i] = gl[i-1]
        print(i)

C:\Users\hoomo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\hoomo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\hoomo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\hoomo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

332
994
1529
1707
12811
17762
24704
25264
29899
30052
38396
42822
42990
49918
50081
55389
55567
58058
58170
61176

In [7]:
for i in range (0 , al.size):
    if al[i] != gl[i]:
        print('k')

In [8]:
for i in range (0 , al.size):
    if aceleracao['Lebal'][i] != giroscopio['Lebal'][i]:
        print('k')

### Merge accelerometer list and gyroscope list in one 2D DataFrame
- Convert accelerometer list to DataFrame
- Convert gyroscope list to DataFrame
- Drop lebal colum from accelerometer dataFrame
- Merge them

In [9]:
# Merge accelerometer list and gyroscope list in one 2D DataFrame
aceleracao = pd.DataFrame(aceleracao) 
giroscopio = pd.DataFrame(giroscopio) 
aceleracao = aceleracao.drop(['Lebal'],axis=1) 
result = pd.concat([aceleracao, giroscopio], axis=1, sort=False)

In [10]:
# print first 5 records in result
result.head(5)

,Unnamed: 0,ax,ay,az,Time,Unnamed: 0,gx,gy,gz,Time,Lebal
0,0,-0.161602,0.120174,9.596758,0.000000,0,-0.070372,0.000844,0.029619,0.000000,0
1,1,-0.122628,0.315638,9.425655,0.009858,1,-0.058695,0.009130,0.024406,0.010194,0
2,2,-0.178777,0.330180,9.445955,0.019625,2,0.006625,-0.002283,-0.015018,0.031894,0
3,3,0.016043,0.038759,9.528445,0.039280,3,0.064933,0.033172,-0.040503,0.049443,0
4,4,0.141716,-0.162492,9.756854,0.058935,4,0.039454,-0.013078,-0.007681,0.069525,0

In [11]:
# drop unimportant columns
result = result.drop(['Unnamed: 0','Unnamed: 0','Time'],axis=1)

In [12]:
# print first 5 records in result
result.head(5)

         ax        ay        az        gx        gy        gz  Lebal
0 -0.161602  0.120174  9.596758 -0.070372  0.000844  0.029619      0
1 -0.122628  0.315638  9.425655 -0.058695  0.009130  0.024406      0
2 -0.178777  0.330180  9.445955  0.006625 -0.002283 -0.015018      0
3  0.016043  0.038759  9.528445  0.064933  0.033172 -0.040503      0
4  0.141716 -0.162492  9.756854  0.039454 -0.013078 -0.007681      0

## 3) Split dataset 
- split dataset to input and Label (X,y)
- split dataset to train and test data (X_train, X_test, y_train, y_test)
    - split with ratio 75% to train data and 25% to test data

- split dataset to input and Label (X,y)

In [13]:
# Get the data value 
data = result.values
X = data[:, 0:6]  # all rows, no Lebal
y = data[:, 6]  # all rows, label only

In [14]:
pd.DataFrame(X).head(5)

          0         1         2         3         4         5
0 -0.161602  0.120174  9.596758 -0.070372  0.000844  0.029619
1 -0.122628  0.315638  9.425655 -0.058695  0.009130  0.024406
2 -0.178777  0.330180  9.445955  0.006625 -0.002283 -0.015018
3  0.016043  0.038759  9.528445  0.064933  0.033172 -0.040503
4  0.141716 -0.162492  9.756854  0.039454 -0.013078 -0.007681

In [15]:
y[0:2]

array([0., 0.])

- split dataset to train and test data

In [16]:
# import library
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt

from subprocess import check_output
from datetime import time

In [17]:
# split dataset to train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

## 4) scale dataset 
- apply scale on dataset to re range it

In [18]:
scaler = StandardScaler() # define the scaler
scaler.fit(X_train) # fit the scaler
X_train = scaler.transform(X_train) # apply scaler on X_train
X_test = scaler.transform(X_test) # apply scaler on X_test

## 5) train the model
- Train Random Forest Classifier Model
- Train Random Forest Classifier Model with different parameter
- Train Stochastic Gradient Descent Model

#### Train Random Forest Classifier Model
- Define the Random Forest Classifier model
- Train(fit) the Random Forest Classifier model
- Predict the output of X_test using Random Forest Classifier model
- Calculate the accuracy of Random Forest Classifier model

In [19]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier() 
rfc.fit(X_train,y_train) 
ypred=rfc.predict(X_test) 
m1accurcy = rfc.score(X_test, y_test)

C:\Users\hoomo\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

#### Train Random Forest Classifier Model with different parameter
- Define the Random Forest Classifier model with (n_estimators=100)
- Train(fit) the Random Forest Classifier model
- Predict the output of X_test using Random Forest Classifier model
- Calculate the accuracy of Random Forest Classifier model- Train Random Forest Classifier Model with different parameter

In [20]:
rfc2=RandomForestClassifier(n_estimators=100)
rfc2.fit(X_train,y_train)
ypred2=rfc2.predict(X_test)
m2accurcy = rfc2.score(X_test, y_test)

#### Train Stochastic Gradient Descent Model
- Define the Stochastic Gradient Descent Model with
    - hinge loss_function 
    - penalty = 12
- Train(fit) the Stochastic Gradient Descent model
- Calculate the accuracy of Stochastic Gradient Descent model

In [21]:
# Stochastic Gradient Descent
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(loss="hinge", penalty="l2")
model.fit(X_train, y_train)
m3accurcy = model.score(X_test, y_test)

## 6) print accuracy of the three modles

In [22]:
print("model1_accuracy = " , m1accurcy)
print("model2_accuracy = " , m2accurcy)
print("model3_accuracy = " , m3accurcy)

model1_accuracy =  0.9733943818834303
model2_accuracy =  0.9745699789629997
model3_accuracy =  0.9598440787031308